/.vs
/Otus_Arrays_Homework_3/Otus_Homework_3/obj
/Otus_Arrays_Homework_3/Otus_Homework_3/bin
/Otus_Arrays_Homework_3/.vs
/Otus_Exceptions_Homework_4/Otus_Homework_4/bin/Debug/net9.0
/Otus_Exceptions_Homework_4/Otus_Homework_4/obj
/Otus_Exceptions_Homework_4/.vs
