/.vs
/Otus_Arrays_Homework_3/Otus_Homework_3/obj
/Otus_Arrays_Homework_3/Otus_Homework_3/bin
/Otus_Arrays_Homework_3/.vs
/Otus_Exceptions_Homework_4/Otus_Homework_4/bin/
/Otus_Exceptions_Homework_4/Otus_Homework_4/obj
/Otus_Exceptions_Homework_4/.vs
/Otus_Classes_Homework_5/Otus_Homework_5/bin/
/Otus_Classes_Homework_5/Otus_Homework_5/obj
/Otus_Classes_Homework_5/.vs
/Otus_Interfaces_Homework_6/Otus_Homework_6/bin/
/Otus_Interfaces_Homework_6/Otus_Homework_6/obj
/Otus_Interfaces_Homework_6/.vs