/.vs
/Otus_Arrays_Homework_3/Otus_Homework_3/obj/
/Otus_Arrays_Homework_3/Otus_Homework_3/bin/
/Otus_Arrays_Homework_3/.vs
/Otus_Exceptions_Homework_4/Otus_Homework_4/bin/
/Otus_Exceptions_Homework_4/Otus_Homework_4/obj/
/Otus_Exceptions_Homework_4/.vs
/Otus_Classes_Homework_5/Otus_Homework_5/bin/
/Otus_Classes_Homework_5/Otus_Homework_5/obj/
/Otus_Classes_Homework_5/.vs
/Otus_Interfaces_Homework_6/Otus_Homework_6/bin/
/Otus_Interfaces_Homework_6/Otus_Homework_6/obj/
/Otus_Interfaces_Homework_6/.vs
/Otus_Interfaces_Homework_6/Otus.ToDoList.ConsoleBot/bin/
/Otus_Interfaces_Homework_6/Otus.ToDoList.ConsoleBot/obj/
/Otus_Annonumous_types_Tuple_Homework_7/Otus_Annonumous_types_Tuple_Homework_7/bin/
/Otus_Annonumous_types_Tuple_Homework_7/Otus_Annonumous_types_Tuple_Homework_7/obj/
/Otus_Annonumous_types_Tuple_Homework_7/.vs
/Otus_Annonumous_types_Tuple_Homework_7/Otus.ToDoList.ConsoleBot/bin/
/Otus_Annonumous_types_Tuple_Homework_7/Otus.ToDoList.ConsoleBot/obj/
/Otus_Async_Homework_8/Otus_Async_Homework_8/bin/
/Otus_Async_Homework_8/Otus_Async_Homework_8/obj/
/Otus_Async_Homework_8/.vs
/Otus_Async_Homework_8/Otus.ToDoList.ConsoleBot/bin/
/Otus_Async_Homework_8/Otus.ToDoList.ConsoleBot/obj/
/Otus_Telegram_API_Homework_9/Otus_Telegram_API_Homework_9/bin/
/Otus_Telegram_API_Homework_9/Otus_Telegram_API_Homework_9/obj/
/Otus_Telegram_API_Homework_9/.vs
/Otus_Files_Homework_10/Otus_Files_Homework_10/bin/
/Otus_Files_Homework_10/Otus_Files_Homework_10/.vs
/Otus_Files_Homework_10/Otus_Files_Homework_10/obj/
/Otus_Files_Homework_10/.vs
/Otus_Scenario_Homework_11/Otus_Scenario_Homework_11/bin/
/Otus_Scenario_Homework_11/Otus_Scenario_Homework_11/.vs
/Otus_Scenario_Homework_11/Otus_Scenario_Homework_11/obj/
/Otus_Scenario_Homework_11/.vs
/Otus_Concurrent_Homework_12/Otus_Concurrent_Homework_12/bin/
/Otus_Concurrent_Homework_12/Otus_Concurrent_Homework_12/.vs
/Otus_Concurrent_Homework_12/Otus_Concurrent_Homework_12/obj/
/Otus_Concurrent_Homework_12/.vs
/Otus_Linq_Homework_13/Otus_Linq_Homework_13/bin/
/Otus_Linq_Homework_13/Otus_Linq_Homework_13/.vs
/Otus_Linq_Homework_13/Otus_Linq_Homework_13/obj/
/Otus_Linq_Homework_13/.vs
/Otus_Linq2DB_Dapper_Homework_15/Otus_Linq2DB_Dapper_Homework_15/bin/
/Otus_Linq2DB_Dapper_Homework_15/Otus_Linq2DB_Dapper_Homework_15/.vs
/Otus_Linq2DB_Dapper_Homework_15/Otus_Linq2DB_Dapper_Homework_15/obj/
/Otus_Linq2DB_Dapper_Homework_15/.vs
/Otus_BackgroundTask_Homework_16/Otus_BackgroundTask_Homework_16/bin/
/Otus_BackgroundTask_Homework_16/Otus_BackgroundTask_Homework_16/.vs
/Otus_BackgroundTask_Homework_16/Otus_BackgroundTask_Homework_16/obj/
/Otus_BackgroundTask_Homework_16/.vs